@model GestionSuperheroes.Data.EF.Superheroe

@{
    ViewBag.Title = "Agregar Heroe";
}
<h1>Agregar Heroe</h1>

<form asp-action="AgregarHeroe">
    <div class="form-group">
        <label asp-for="NombreSuperheroe" class="control-label"></label>
        <input asp-for="NombreSuperheroe" class="form-control" />
        <span asp-validation-for="NombreSuperheroe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <partial name="/Views/Shared/_pvComboUniversos.cshtml" />
        <span asp-validation-for="IdUniverso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Agregar" class="btn btn-primary" />
    </div>
</form>

